* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* font-family: "montserrat", sans-serif;
	background-color: #223343; */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: #fff;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95,
		0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
	font: 90px "MisoRegular";
	margin-bottom: 20px;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

input {
	display: block;
	width: 100%;
	padding: 15px;

	border: none;
	outline: none;
	background: none;

	background-color: rgb(220, 227, 255);
	/* border-radius: 8px; */

	color: #500d86;
	font-size: 20px;
	font-weight: 300;

	transition: 0.4s ease-out;
}

input:focus {
	box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 33.333%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: rgb(78, 21, 131);
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background-image: linear-gradient(
		to right,
		#eea2a2 0%,
		#bbc1bf 19%,
		#57c6e1 42%,
		#b49fda 79%,
		#7ac5d8 100%
	);
	flex: 1 1 100%;
	transition: 0.4s ease-out;
}

.results .result:hover h3 {
	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
	color: #fffbff;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: rgb(78, 21, 131);
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}

.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating .director .runtime .genre {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
	margin-top: 30px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
	margin-top: 50px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;

	background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
	color: #fff;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;

	transition: 0.4s ease-out;
}

.popup .content .close:hover {
	background: #223343;
}
